body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
    background-color: #d8da3d 
	}
h1 {
font-size: 36px;
color: #000;
font-family: 'Open Sans';
}
div{
align="";
}